<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Foundry DB Scraper</title>
</head>
<body>
<header>
    <h1>Foundry DB Scraper</h1>
</header>
<div id="pf2e">
    <h2>Pathfinder 2nd Edition</h2>
    <ul>
        <a href="/spells.html">Spells</a>
    </ul>
</div>
<div id="abomination-vaults">
    <h2>Abomination Vaults</h2>
    <ul>
        <li>
            <a href="/journals.html">Journals</a>
        </li>
        <li>
            <a href="/actors.html">Actors</a>
        </li>
        <li>
            <a href="/items.html">Items</a>
        </li>
    </ul>
</div>


</body>
</html>